@mixin flex($direct: row,$jCont: center,$aCont: stretch,$wrap: wrap) {
    display: flex;
    justify-content: $jCont;
    align-content: $aCont;
    flex-direction: $direct;
    flex-wrap: $wrap;
}

@mixin gradient_text {
    background: linear-gradient(0deg, #fd5272 0%, #f77359 100%) #fd5272;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #f77359;
}

// Small devices
@mixin sm {
    @media (max-width: #{$screen-sm-max}) {
        @content;
    }
 }
 
 // Medium devices
 @mixin md {
    @media (max-width: #{$screen-md-max}) {
        @content;
    }
 }
 
 // Large devices
 @mixin lg {
    @media (max-width: #{$screen-lg-max}) {
        @content;
    }
 }
 
 // Extra large devices
 @mixin xl {
    @media (max-width: #{$screen-xl-max}) {
        @content;
    }
 }
