.header {
    color: #c8c8c8;
}

.header-top {
    @include flex(row);
    border-bottom: 1px solid #f1f1f1;
}


.header-top__btn {
    width: 70px;
    height: 70px;
    border: none;
}

.header-top__btn:not(:last-child) {
    border-right: 1px solid #f1f1f1;
}

.header-top__search + .header-top__btn {
    border-left: 1px solid #f1f1f1;
}

.header-top__btn--more {
    background: url(../img/header/more.png) no-repeat center;
}

.header-top__btn--folder {
    background: url(../img/header/folder.png) no-repeat center;
}

.header-top__btn--settings {
    background: url(../img/header/settings.png) no-repeat center;
}

.header-top__btn--upload {
    background: url(../img/header/upload.png) no-repeat center;
}

.header-top__btn--envelope {
    background: url(../img/header/envelope.png) no-repeat center;
}

.header-top__btn--planet-earth {
    background: url(../img/header/planet-earth.png) no-repeat center;
}

.header-top__search {
    @include flex(row,center,center);
    flex-grow: 1;
    padding: 0 10px;
}

.header-top__input-search {
    min-width: 299px;
    padding: 9px 12px;
    font-size: 12px;
    line-height: 0.5;
    color: #c8c8c8;
    background: url(../img/header/search.png) no-repeat 95% center #f8f8f8;
    border: 1px solid #f1f1f1;
    border-radius: 16px;
}

.header-top__input-search::placeholder {
    color: #c8c8c8;
}
/*****/

.header-top__user {
    @include flex(row,start,center);
}
.header-top__userpic {

}
.header-top__text {
    @include flex(column);
    width: 150px;
    padding-left: 18px;
}
.header-top__name {
    margin-bottom: 5px;
    @include gradient_text;
    font-size: 13px;
    font-weight: 700;
}
.header-top__specialty {
    font-size: 13px;
    color: $third_color;
}
.header-top__user-more {
    width: 24px;
    background: url(../img/header/user_more.png) no-repeat center;
    border: none;
}



/******************************************/ /******************************************/
/******************************************/ /******************************************/
/******************************************/ /******************************************/
/******************************************/ /******************************************/
/******************************************/ /*****************************************

$primary_color: #fff;

$second_color: #777777;

$third_color: #bfbfbf;

*/
.header-bootom {
    @include flex(row,flex-start);
    border-bottom: 1px solid; /*dlt*/
}

.header-bootom__list {
    padding: 20px 0;
    @include flex(row,space-around);
    flex-grow: 1;
}
.header-bootom__item {
}
.header-bootom__daily {
    margin-bottom: 9px;
    font-size: 12px;
    color: $third_color;  
}
.header-bootom__daily-number {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 700;
    @include gradient_text;
}

.header-bootom__index {
    position: relative;
    font-size: 12px;
    color: $third_color;
    padding-left: 8px;
    &--up:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 3px;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        border-bottom: 6px solid #a889e9;
    }
    &--down:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 3px;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        border-top: 6px solid #fd5670;
    }
}

.header-bootom__daily-btn {
    padding: 0px 60px;
    @include gradient_text;
    font-size: 12px;
    font-weight: 700;
    border: none;
}