.header {
    color: #c8c8c8;
}

.header-top {
    @include flex(row);
    border-bottom: 1px solid #f1f1f1;
}


.header-top__btn {
    width: 70px;
    height: 70px;
    border: none;
}

.header-top__btn:not(:last-child) {
    border-right: 1px solid #f1f1f1;
}

.header-top__search + .header-top__btn {
    border-left: 1px solid #f1f1f1;
}

.header-top__btn--more {
    background: url(../img/header/more.png) no-repeat center;
}

.header-top__btn--folder {
    background: url(../img/header/folder.png) no-repeat center;
}

.header-top__btn--settings {
    background: url(../img/header/settings.png) no-repeat center;
}

.header-top__btn--upload {
    background: url(../img/header/upload.png) no-repeat center;
}

.header-top__btn--envelope {
    background: url(../img/header/envelope.png) no-repeat center;
}

.header-top__btn--planet-earth {
    background: url(../img/header/planet-earth.png) no-repeat center;
}

.header-top__search {
    @include flex(row,center,center);
    flex-grow: 1;
    padding: 0 10px;
}

.header-top__input-search {
    min-width: 299px;
    padding: 9px 12px;
    font-size: 12px;
    line-height: 0.5;
    color: #c8c8c8;
    background: url(../img/header/search.png) no-repeat 95% center #f8f8f8;
    border: 1px solid #f1f1f1;
    border-radius: 16px;
}

.header-top__input-search::placeholder {
    color: #c8c8c8;
}
/*****/

.header-top__user {
    @include flex(row,start,center);
}
.header-top__userpic {
}
.header-top__text {
    @include flex(column);
    width: 150px;
    padding-left: 18px;
}
.header-top__name {
    @include gradient_text;
    font-size: 13px;
    font-weight: 700;
}
.header-top__specialty {
}
.header-top__user-more {
    width: 24px;
    background: url(../img/header/user_more.png) no-repeat center;
    border: none;
}