.main-nav {
    // position: fixed;
    // left: 0;

    @include flex(column, flex-start);

    width: 70px;
    min-height: 100vh;
    background: $bg_gradient;
    box-shadow: 0px -2px 13px 2px rgba(0,0,0,0.3);

    @include md {
        flex-direction: row;
        width: 100%;
        height: 70px;
        min-height: auto;
    }

    &__logo {
        @include flex(row,center,center);
        
        width: 70px; 
        min-height: 70px;
        font-family: 'Bangers', cursive;
        font-size: 30px;
        text-decoration: none;
        background-color: $primary_color;
    }

    &__logo p {
        @include gradient_text;
    }

    &__list {
        @include flex(column, flex-start);
        flex-grow: 1;

        @include md {
            display: none;
        }
    }

    &__item {
       
    }

    &__link {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-content: center;
        text-decoration: none;

        width: 70px;
        min-height: 70px;
    }


    &__link--home {
        background: url(../img/nav/icon_home.png) no-repeat center;
    }
    &__link--stactics {
        background: url(../img/nav/icon_statics.png) no-repeat center;
    }
    &__link--users {
        background: url(../img/nav/icon_users.png) no-repeat center;
    }
    &__link--settings {
        background: url(../img/nav/icon_settings.png) no-repeat center;
    }
    &__link--quires {
        background: url(../img/nav/icon_quires.png) no-repeat center;
    }

    &__link:hover:before {
        content: "";
        position: absolute;
        top: 27.5px;
        right: -6px;
        display: block;
        width: 0;
        height: 0;
        border-top: 7.5px solid transparent;
        border-bottom: 7.5px solid transparent;
        border-left: 6px solid #f86e5c;
    }

    &__link-text {
        display: block;
        max-width: 100%;
        padding-bottom: 7px;
        font-size: 10px;
        color: $primary_color;
        text-align: center;
    }

    &__power-btn {
        width: 70px;
        min-height: 70px;
        padding-top: 19px;
        padding-bottom: 19px;
        background: none;
        border: none;
    }

}

