.main-nav {
    @include flex(column, flex-start);

    width: 69px;
    min-height: 100vh;
    background: $bg_gradient;
}

.main-nav__logo {
    display: block;
    width: 69px;
    height: 70px;
    font-family: inherit;
    font-size: 30px;
    background: $primary_color;
}

.main-nav__list {
    @include flex(column, flex-start);

    flex-grow: 1;
}

.main-nav__item {
    width: 69px;
    height: 70px;
}

.main-nav__link {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
    height: 70px;
    text-decoration: none;
}


.main-nav__link--home {
    background: url(../img/nav/icon_home.png) no-repeat center;
}
.main-nav__link--stactics {
    background: url(../img/nav/icon_statics.png) no-repeat center;
}
.main-nav__link--users {
    background: url(../img/nav/icon_users.png) no-repeat center;
}
.main-nav__link--settings {
    background: url(../img/nav/icon_settings.png) no-repeat center;
}
.main-nav__link--quires {
    background: url(../img/nav/icon_quires.png) no-repeat center;
}

.main-nav__link:hover:before {
    content: "";
    position: absolute;
    top: 27.5px;
    right: -6px;
    display: block;
    width: 0;
    height: 0;
    border-top: 7.5px solid transparent;
    border-bottom: 7.5px solid transparent;
    border-left: 6px solid #f86e5c;
}

.main-nav__link-text {
    display: block;
    max-width: 100%;
    padding-bottom: 7px;
    font-size: 10px;
    color: $primary_color;
    text-align: center;
}

.main-nav__power-btn {
    width: 100%;
    padding-top: 19px;
    padding-bottom: 19px;
    background: none;
    border: none;
}



@media (max-width: 768px) {
    .main-nav {
        flex-direction: row;
        width: 100%;
        height: 70px;
        min-height: auto;
    }
    .main-nav__list {
        flex-direction: row;
    }
    .main-nav__power-btn {
        width: auto;
    }
}