.nav {
    
    position: fixed;
    top: 0;
   
    z-index: 999;
    @include flex(column,start);

    width: 70px;
    min-height: 100vh;

    background: $bg_gradient;
    box-shadow: 0px -2px 13px 2px rgba(0,0,0,0.3);

    @include md {
        min-height: 70px;
        height: 70px;
        width: 100%;
        flex-direction: row;
        align-content: flex-start;
    }

    &__link {
        position: relative;

        @include flex(row,center,flex-end);
        
        width: 70px;
        min-height: 70px;

        padding-bottom: 10px;
        font-size: 11px;

        color: #fff;
        text-decoration: none;

        @include sm {
            &:not(:first-child):not(:last-child) {
                display: none;
            }
        }

        &--logo {
            align-items: center;
            font-size: 40px;
            
            background-color: #fff;

            & span{
                @include gradient_text;
            }
        }

        &--home {
            background: url(../img/nav/icon_home.png) no-repeat center 20px;
        }

        &--statistics {
            background: url(../img/nav/icon_statics.png) no-repeat center 20px;
        }

        &--users {
            background: url(../img/nav/icon_users.png) no-repeat center 20px;
        }

        &--settings {
            background: url(../img/nav/icon_settings.png) no-repeat center 20px;
        }

        &--quires {
            background: url(../img/nav/icon_quires.png) no-repeat center 20px;
        }

        &--power {
            margin-left: auto;
            margin-top: auto;
            background: url(../img/nav/power_button.png) no-repeat center;
        }

        &--burger {
            display: none;
            
            @include sm {
                display: flex;
                margin-left: auto;
            }
        }

        &:not(:first-child):hover:before {
            content: "";
            position: absolute;
            top: 27.5px;
            right: -6px;
            display: block;
            width: 0;
            height: 0;
            border-top: 7.5px solid transparent;
            border-bottom: 7.5px solid transparent;
            border-left: 6px solid #f86e5c;
        }
        
    }

    &__burger-item {
        position: relative;
        bottom: 22px;

        display: block;

        width: 35px;
        height: 4px;

        background: white;
        transition: 0.4s;
    
        &:after, 
        &:before {
            content: "";
            display: block;
            position: absolute;
            background: white;
            width: 100%;
            height: 4px;
            transition: 0.4s;
        }
        
        &:before {
            top: -8px;
        }
        
        &:after {
            top: 8px;
        }
    }
}



  


